<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Fusca</string>
		<key>Model</key>
		<string>2000</string>
		<key>Plaque</key>
		<string>124-2039</string>
		<key>Coust</key>
		<string>R$:25,00</string>
		<key>State</key>
		<string>Disponível</string>
		<key>StartDate</key>
		<string>07/01/2014</string>
		<key>EndDate</key>
		<string>07/04/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sentra</string>
		<key>Model</key>
		<string>2014</string>
		<key>Plaque</key>
		<string>192-ABO2</string>
		<key>Coust</key>
		<string>R$:150,00</string>
		<key>State</key>
		<string>Alugado</string>
		<key>StartDate</key>
		<string>9/07/2014</string>
		<key>EndDate</key>
		<string>11/07/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Versa</string>
		<key>Model</key>
		<string>2009</string>
		<key>Plaque</key>
		<string>ABO-2039</string>
		<key>Coust</key>
		<string>RS:100,00</string>
		<key>State</key>
		<string>Alugado</string>
		<key>StartDate</key>
		<string>08/09/2013</string>
		<key>EndDate</key>
		<string>08/01/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pálio</string>
		<key>Model</key>
		<string>2002</string>
		<key>Plaque</key>
		<string>AOE-O22O</string>
		<key>Coust</key>
		<string>R$:60,00</string>
		<key>State</key>
		<string>Oficina</string>
		<key>StartDate</key>
		<string>08/01/2013</string>
		<key>EndDate</key>
		<string>08/01/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Uno</string>
		<key>Model</key>
		<string>2010</string>
		<key>Plaque</key>
		<string>ANU-S269</string>
		<key>Coust</key>
		<string>R$:50,00</string>
		<key>State</key>
		<string>Disponível</string>
		<key>StartDate</key>
		<string>18/04/2014</string>
		<key>EndDate</key>
		<string>20/06/2014</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Fiesta</string>
		<key>Model</key>
		<string>2014</string>
		<key>Plaque</key>
		<string>NEW-CAR1</string>
		<key>Coust</key>
		<string>R$:80,00</string>
		<key>State</key>
		<string>Alugado</string>
		<key>StartDate</key>
		<string>03/01/2014</string>
		<key>EndDate</key>
		<string>08/09/2015</string>
	</dict>
</array>
</plist>
